.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 18px;
  transition: all 0.4s;
  opacity:1
}
.header__lang-link:hover {
  opacity:0.5;
}
.header__lang-link:last-child {
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }


}



