.place__image {
  min-width: 320px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .place__image{
  min-width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image{
    min-width: 440px;
  }
}
