.lead__title {
  max-width: 280px;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  padding: 0 16px 0 16px;
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    padding: 0 24px 0 24px;
    max-width: 720px;
  }
  

}


@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: 720px;
    padding: 0 132px 0 132px;

  }


}

