.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  padding: 64px 0 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    padding-top: 88px;
    min-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    min-width: 690px;
    width: 100%;
  }
}




